:root{

    /* --ff-primary:"Roboto",sans-serif;
    --ff-secondary:"Open Sans",sans-serif; */
    --transition:all 0.3s linear;
    --spacing:0.1rem;
    --radius:0.25rem;
    --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);
    --max-width:1170px;
    --fixed-width:620px;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    color: grey;
    line-height: 1.5;
    font-size: 0.875rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,
h2,
h3,
h4{
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
/* /////////// */
.sidebar-toggle{
    position: fixed;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: blue;
    transition: var(--transition);
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
}
.sidebar-toggle:hover{
    color: violet;
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.close-btn{
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: blue;
    transition: var(--transition);
    
}

.close-btn:hover{
    color: violet;
    transform: rotate(360deg);
}
.logo{
    justify-self: center;
    height: 40px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    transition: var(--transition);
    transform:translate(-100%);
}
.show-sidebar{
    transform: translate(0);
}
@media screen and (min-width:676px) {
    .sidebar{
        width: 400px;
    }
}